html/services/wsdl/receiver.wsdl

<?xml version ="1.0" encoding ="UTF-8" ?>
<definitions name="SoapReceiver" targetNamespace="urn:SoapReceiver"
             xmlns:tns="urn:SoapReceiver"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="echoMessageRequest">
        <part name="message" type="xsd:string"/>
    </message>
    <message name="echoMessageResponse">
        <part name="response" type="xsd:string"/>
    </message>
    <message name="facebookPostRequest">
        <part name="token" type="xsd:string"/>
        <part name="message" type="xsd:string"/>
    </message>
    <message name="facebookPostResponse">
        <part name="response" type="xsd:string"/>
    </message>
    <portType name="SoapReceiverPortType">
        <operation name="echoMessage">
            <input message="tns:echoMessageRequest"/>
            <output message="tns:echoMessageResponse"/>
        </operation>
        <operation name="facebookPost">
            <input message="tns:facebookPostRequest"/>
            <output message="tns:facebookPostResponse"/>
        </operation>
    </portType>
    <binding name="SoapReceiverBinding" type="tns:SoapReceiverPortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoMessage">
            <soap:operation soapAction="urn:SoapReceiver#echoMessage"/>
            <input>
                <soap:body use="encoded" namespace="urn:SoapReceiver"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:SoapReceiver"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="facebookPost">
            <soap:operation soapAction="urn:SoapReceiver#facebookPost"/>
            <input>
                <soap:body use="encoded" namespace="urn:SoapReceiver"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:SoapReceiver"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="SoapReceiverService">
        <port name="SoapReceiverPort" binding="SoapReceiverBinding">
            <soap:address location="http://fb.samdlc.com/services/SoapReceiver.php"/>
        </port>
    </service>
</definitions>